.style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;

}

.style1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stylebtn {
    border: 1px solid;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10%;

}

.loginbtn {
    background: rgb(40, 146, 216);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-top: 5px;
    border-radius: 1.2rem;
    color: white;
    font-size: medium;
}

.singbtn {
    background: rgb(216, 40, 40);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-top: 5px;
    border-radius: 1.2rem;
    color: white;
    font-size: medium;
}